{% extends "master.html" %}
{% load staticfiles %}

{% block nav_menu %}
	{% include "sysadmin_nav.html" %}
{% endblock %}
{% block content %}
            <div class="row m-t-lg ">
                <div class="col-lg-{{span_size|safe}} white-bg text-right">
												<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalschlist">Add new School</button>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-lg-{{span_size|safe}}">
                    <div class="tabs-container">

                        <div class="tabs-left">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-6"> School</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="tab-6" class="tab-pane active">
                                    <div class="panel-body">
																				<strong>Schools</strong>
																				<div class="table-responsive">
																					<table class="table table-striped table-bordered" id="schools-ajax-data-table" ><!--class="table table-striped table-bordered table-hover"-->
																						<thead>
																						<tr>
																							<th>#</th>
																							<th>Id</th>
																						 	<th>Name</th>
																							</tr>
																						</thead>
																						<tbody>
																						</tbody>
																					</table>
																				</div><!--table-responsive-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-lg ">

                <div class="col-lg-6 white-bg">

												<div class="modal inmodal" id="modalschlist" tabindex="-1" role="dialog" aria-hidden="true">
														<div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                		<div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <i class="fa fa-institution modal-icon"></i>
                                            <h4 class="modal-title">Add School</h4>
                                            <small class="font-bold">Add new school</small>
                                		</div>
                                		<div class="modal-body">
                                        <div class="form-group">
																						<label>School Name</label>
																						<input type="text" class="form-control school-name" placeholder="Enter School name" >
																				</div>
                                        <div class="form-group">
																						<label>School Account Name</label>
								                                <input type="text" class="form-control school-acc-name"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Account Name(Second School Account Optional)</label>
								                                <input type="text" class="form-control sec-school-acc-name"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Phone Number</label>
                                        		<input type="text" class="form-control school-phone"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Email</label>
                                        		<input type="text" class="form-control school-email"  placeholder="">
																				</div>

																				<div class="form-group" >
																						<label>Form One</label>
																						{{schclassesform.formone}}
																				</div>
																				<div class="form-group" >
																						<label>Form two</label>
																						{{schclassesform.formtwo}}
																				</div>
																				<div class="form-group" >
																						<label>Form three</label>
																						{{schclassesform.formthree}}
																				</div>
																				<div class="form-group" >
																						<label>Form four</label>
																						{{schclassesform.formfour}}
																				</div>
																				<div class="form-group" >
																						<label>Stream</label>
																						{{streamform.schoolstream}}
																				</div>
																				<div class="form-group" >
																						<label>Stream(Second Stream Optional)</label>
																						{{streamform.secschoolstream}}
																				</div>
																				<div class="form-group" >
																						<label>Stream(Third Stream Optional)</label>
																						{{streamform.thirdschoolstream}}
																				</div>
																				<div class="form-group" >
																						<label>Stream(Fourth Stream Optional)</label>
																						{{streamform.fourthschoolstream}}
																				</div>

																				<div class="form-group" >
																						<label>County</label>
																						{{countyform.schoolcounty}}
																				</div>
                                        <div class="form-group">
																						<label>Division</label>
                                        		<input type="text" class="form-control school-division"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Constituency</label>
                                        		<input type="text" class="form-control school-constituency"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Location</label>
                                        		<input type="text" class="form-control school-location"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Sub-location</label>
                                        		<input type="text" class="form-control school-sublocation"  placeholder="">
																				</div>
                                        <div class="form-group">
																						<label>Town</label>
                                        		<input type="text" class="form-control school-town"  placeholder="">
																				</div>
                                		</div>
                                		<div class="modal-footer">
 																						<button class="btn btn-primary saveschoolname" data-dismiss="modal" type="submit"><strong>Save</strong></button><!-- -->
                                		</div>
														</div>
												</div>
										</div>
                </div>
                <div class="col-lg-{{span_size|safe}} white-bg text-right">
												<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalschlist">Add new School</button>
                </div>
            </div>
{% endblock %}
